.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 30px 10%;
  text-transform: uppercase;
  color: #1d1f22;
}

/* .links ul li {
  list-style-type: none;
} */
.links a {
  text-decoration: none;
}

.links li {
  display: inline-block;
  padding: 0 20px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-weight: 600;
}

.links li:hover {
  border-radius: 5px;
  background-color: rgb(29, 31, 34, 0.1);
}

.buttons {
  display: flex;
  padding: 0 10px;
  cursor: pointer;
}
.buttons div {
  margin-left: 20px;
}

.dropdown {
  position: relative;
}

.dropdownCart {
  position: absolute;
  background-color: antiquewhite;
  left: -150px;
  top: calc(100% + 0.25rem);
  padding: 0.75rem;
  border-radius: 0.25rem;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 150ms ease-in, transform 150ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown > .link:focus + .dropdownCart {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
}
.cartItem {
  min-width: 200px;
}

.title {
  font-size: 12px;
  display: flex;
  justify-content: left;
  text-align: left;
}
